/* ------------------------------------
   Colors
-------------------------------------- */

// Specific colors.
$white: #FFFFFF;
$green: #43E895;
$green-dark: #34B379;

// Abstracted colors.
$color-accent-1: $green;
$color-accent-2: $green-dark;
