<!--The content below is only a placeholder and can be replaced.-->
<header class="center flex flex-justify flex-center p2 bg-lime white">
    <div class="pointer">
        <span [class.hidden]="!isOpen" class="sm-flex" alt=""
              (click)="closePanel()">< </span>
    </div>
    <h3 class="flex-2">Lunch Tyme</h3>
    <img class="flex-1 pointer" src="assets/images/icon_map@2x.png" alt="" (click)="togglePanel()">
</header>
<main class="flex flex-wrap pt9">
    <ng-container *ngFor="let location of locations">
        <article
                class="flex pt30 card"
                (click)="togglePanel(location)"
                [ngStyle]="{ 'background-image': 'url(' + location.backgroundImageURL + ')'}">
            <footer class="white pb1 pl2">
                <h1>
                    {{location.name}}
                </h1>
                <h4>
                    {{location.category}}
                </h4>
            </footer>
            <span class="overlay"></span>
        </article>
    </ng-container>
</main>
<app-side-panel [details]="activeSelection" [allLocations]="allLocations" [locations]="locations" #sidePanel [isOpen]="isOpen"></app-side-panel>

