@import '~src/styles/base/variables';
header {
  position: fixed;
  width: 100%;
  height: $headerHeight;
  z-index: 10;
  box-sizing: border-box;
  img {
    max-width: 2rem;
    &:first-child {
      max-height: 1.5rem;
    }
  }
}

article {
  position: relative;
  background: no-repeat center;
  background-size: cover;
  flex-basis: 50%;
  min-height: 11.25rem;
  @media only screen and (max-device-width : 1024px)  and (orientation : portrait) {
    flex-basis: 22rem;
  }
  @media only screen and (max-width: 400px) {
    flex-basis: 100%;
  }

  footer {
    z-index: 2;
    padding-bottom: 0.375em;
    align-self: flex-end;
  }

  .overlay {
    content: url('src/assets/images/cellGradientBackground@2x.png');
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

main {
  transition: max-width 200ms ease-in-out;
  max-width: 100%;
  padding-top: $headerHeight;
  &.active{
    max-width: calc(100% - 24rem);

    @media only screen and (max-device-width : 1024px)  and (orientation : portrait) {
        max-width: calc(100% - 20rem);
    }
  }
}
