<div [@panelState]="isOpen ?   'hide' : 'show'" id="side-panel">

    <agm-map
            [latitude]="location?.location?.lat"
            [longitude]="location?.location?.lng"
            [zoom]="zoomLevel"
            [fitBounds]="true"
            [streetViewControl]="false"
            [zoomControl]="false"
            maxZoom="18"
            [streetViewControlOptions]="false"
    >
        <ng-container *ngFor="let location of locations">
            <agm-marker
                    [latitude]="location?.location.lat"
                    [longitude]="location?.location.lng"
                    [title]="location?.name"
                    [agmFitBounds]="location.selected || allLocations"
                    [iconUrl]="'assets/images/marker.png'"
                    class="flex-1"
            >
                <agm-info-window>
                    <article class="marker-info">
                        <header class="flex flex-align-center">
                            <img [src]="location?.backgroundImageURL" [alt]="location?.name"/>
                            <h1 class="text-large">{{location?.name}}</h1>
                        </header>
                        <footer class="flex flex-align-center flex-space-between pt3">
                            <a [href]="location?.contact?.phone">{{location?.contact?.formattedPhone}}</a>
                            <span class="pl3">{{location?.category}}</span>
                        </footer>
                    </article>
                </agm-info-window>
            </agm-marker>
        </ng-container>
    </agm-map>
    <section class="color-bg-2 white p3 flex flex-justify-center flex-column title-container">
        <h1 class="font-secondary">
            {{ allLocations ? 'Restaurants' : details?.name}}
        </h1>
        <p class="text-small" *ngIf="!allLocations">{{details?.category}}</p>
    </section>
    <section class="py3 color-bg-white flex-1 scroll-container">
        <ng-container *ngFor="let restaurant of locations; let id = $index" >
            <article *ngIf="allLocations || (!allLocations && restaurant.selected)"  class="py3 pl3" [class.border-bottom]="allLocations"
                     (click)="updateSelection(restaurant)">
                <h1 class="font-bold pb3">{{restaurant?.name}}</h1>
                <p>
                    {{restaurant?.location.address}}<br>
                    {{restaurant?.location.city}}, {{restaurant?.location.state}} {{restaurant?.location.postalCode}}
                </p>
                <p class="pt3">{{restaurant?.contact?.formattedPhone}}</p>
                <p class="pt3" *ngIf="restaurant?.contact?.twitter">@{{restaurant?.contact?.twitter}}</p>
            </article>
        </ng-container>
    </section>
</div>
