@import 'colors';

$text-lg: 1.0625rem;
$text-x-lg: 1.7rem;
$text-sm: 0.75rem;
$text-x-sm:  0.75rem;
$text-xx-sm:  0.625rem;
$headerHeight: 4rem;

// fonts
$primary-font: 'Avenir Next Regular', 'Helvetica', sans-serif;
$primary-font-bold: 'Avenir Next Demi Bold', 'Helvetica Neue Bold', sans-serif;

